@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.team_table {
    width: 70%;
    margin-left: 20em;
    margin-top: 3em;
}
.title {
    height: 3em;
    background-color: #3f3f3f;
    padding: 10px;
    text-align: center;
    color: white;
}
.content {
    height: 1.5em;
    text-align: left;
    background-color: #CECECE;
}
