@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 2em;
}

/* login box still need fixing, cuz diffrent resolution make it braeking apart*/
.login-box {
    background-color: white;
    width: 25em;
    position: fixed; 
    top: 50%;
    left: 50%;
    margin-top:-13em;
    margin-left:-12em;  
} 

.login-text {
    text-align: left;
    padding-bottom: 0.5em;
}

.login-info {
    font-weight: bold;
    text-align: left;
    padding-bottom: 1em;
}

input[type="text"]{
    border: solid 1px;
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
    border-radius: .2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em; 
}

input[type="button"] {
    background-color: #354C9D;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    padding: .5em 0;
    border-radius: .2em;
    font-size: 1em;
    cursor: pointer;
}





