@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: url('../img/ifferent-1612348893426-9878.jpg');
    text-align: center;
}

header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 3em;
}

/* login box still need fixing, cuz diffrent resolution make it braeking apart*/
.login-box {
    background-color: white;
    width: 25em;
    position: fixed; 
    top: 50%;
    left: 50%;
    margin-top:-13em;
    margin-left:-12em;  
} 

.login-text {
    text-align: left;
    padding-bottom: 2em;
}

.login-info {
    font-weight: bold;
    text-align: left;
    padding-bottom: 2em;
}

input[type="text"]{
    background-color:#CFCFCF;
    border: none;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    
}

input[type="button"] {
    background-color: #21134E;
    width: 70%;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}
/* side nav */
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3f3f3f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 21em, 2em, 2em, 5em;
    margin-left: 2em;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: 28;
    color: white;
    display: block;
    transition: 0.3s; 
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}
.navicon {
    width: 60px;
    height: 40px;
}
.logout {
    position: fixed;
    bottom: 0px;
    margin-bottom: 3em;

}
.usernav{
    color: #181818;
    z-index: 2;
}
.profilenav{

    height: 100px;
    width: 100px;
    border-radius: 50%;
}





